body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*---Hero and header---*/

header, .hero, footer {
    background-color: #1f2937;
}

.logo, .hero-title {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero-description, a, footer {
    font-size: 18px;
    color: #c1c4ca;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 250px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 250px 150px 250px;
    gap: 32px;
}

.placeholder {
    height: 230px;
    width: 500px;
    color: #eeeef0;
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 500px;
}

.hero-description {
    padding-right: 16px;
}

button {
    background-color: #3882f6;
    border-radius: 7px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 32px;
}

.button1 {
    border-style: none;
}

/*---Info---*/

.info {
    display: flex;
    flex-direction: column;
    padding: 36px;
    margin-bottom: 64px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.img {
    height: 170px;
    width: 170px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.txt {
    width: 170px;
    text-align: center;
    color: #5b6471;
    font-size: 18px;
    font-weight: 500;
}

/*---Quotes---*/

.quotes {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 125px 310px;
}

.quote {
    font-size: 36px;
    color: #232d3b;
}

.signature {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    padding-right: 50px;
    font-weight: bolder;
    color: #1f2937;
}

/*Call to action*/

.action {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 9px;
    padding: 42px 55px;
    margin: 100px 200px;
}

.up {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.down {
    font-size: 18px;
    color: #f9faf8;
}

.call {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button2 {
    display: flex;
    align-items: center;
    border: 3px solid #f9faf8;
}

.but2 {
    display: flex;
    align-items: center;
}

/*---Footer---*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}